
html {
    font-size:14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 310px;
}

.header img{
    width: 100%;
    height: 100%;   
}

/* CSS zum Layout */
.header { 
    position: relative;
    background-color: #153768;
    width: 100%;  
}    

.container {
    width: auto;
    max-width: 1250px;
}

.footer {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 310px;
    background-color: #7d7d7d;
    color: #ffffff;  
    padding-top: 40px;
}

.footer a {
    color: #fff;
}

.nav_box{     
    width: 80%;
    background-color: #efefef;
    border-top: 4px solid #1d71a2;
    margin: 5%;
    padding: 5%;
    margin-right: 50px;
}

.nav_bar{   
    font-size: 12px;
    width: 100%;
    height: 20%;
    background-color: #efefef;
    nargin: 2%;
}

/* Navigation oben  */
.navbereich{
    background-color: #3979b5;
    width: 100%;
    height: 10%;
    text-align: center;
    position:relative;
    margin-top:0.1%;
    padding: 0.2%;
}

.navbereich a:link {
    color: #ffffff;
    font-size: 20px;
    padding-left: 1%;
    text-transform: uppercase;
}

.navbereich a:visited {
    color: #ffffff;
    font-size: 20px;
    padding-left: 1%;
    text-transform: uppercase;
}

.navbereich a:hover {
    color: #ffffff;
    font-size: 20px;
    padding-left: 1%;
    text-transform: uppercase;
}

.navbereich a:active {
    color: #ffffff;
    font-size: 20px;
    padding-left: 1%;
    text-transform: uppercase;
}  

/*  ENDE CSS zum Layout */

/* Tabelle auf der Infoseite */
.tg  {
    border-collapse:collapse;
    border-spacing:0;border-color:#999;
    text-align: left; 
    width: 90%;
}

/* CSS Kopfzelle für Überschriften  */
.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    text-align:left;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#999;
    color:#fff;
    background-color:#26ADE4;
}

/* CSS  für Tabellenzelle  */
.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    text-align: left; 
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#999;
    color:#444;
    background-color:#ffffff;
}

/* Überschrift für th */
.tg .tg-py0s{
    font-weight:bold;
    text-align:left;
    background-color:#3979b5;
    vertical-align:top; 
}      

.tg .tg-py0s-small{
    font-weight:bold;
    text-align:left;
    background-color:#3979b5;
    vertical-align:top; 
}      

/* Schrift für td  */
.tg .tg-28r4{
    font-size: 13px;
    text-align:left;
    vertical-align:top;
}

/* ENDE Tabelle auf der Infoseite  */

/*  CSS für Formulare */
/* Ueeberschrift bei Bewerbungen */
bewue {
    width: 80%;
    background-color: #efefef;
    border-top: 4px solid #1d71a2;
    margin: 5%;
    padding: 5%;
}

.formbox {
    font-size:12px;
    border: 1px solid #d9d9d9;           
    width: 76%;
    margin-left: 15%;
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.formbox table {
    width: 95%;
    color: #000000;  
}

/*  Schrft Start- und Endtermin */
.formbox span{
    background: #fbfbfb;
    display: block;
    padding: 3px;
    margin: 3px -2px -2px -2px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
}  

/*  CSS für Bezeichnung der EIngabefelder */
label{
    margin-right: 25px;
    text-align:left;
    float:left;    
    padding-bottom: 5%;
}
/*  ENDE CSS für Formulare */

/*  CSS für Login */
.logform {
    font-size:12.5px;
    border: 1px solid #d9d9d9;           
    width: 50%;
    margin-left: 15%;
    background: #FFF;
}

.logform input{
    margin: 2%;
}
/* ENDE CSS für Login */


/* CSS themen_uebersicht_student*/
.blue{
    font-weight:bold;
    text-align:left;
    background-color:#3979b5;
    vertical-align:top;  
    color:#FFF;
    font-size:14px;
    padding:0px 5px;
}      

.infos{
    font-size: 16px;
}  


/* CSS für Collapse-Pfeile */
    .accordion-caret .accordion-toggle:hover {
        text-decoration: none;
    }
    .accordion-caret .accordion-toggle:hover span,
    .accordion-caret .accordion-toggle:hover strong {
        text-decoration: underline;
    }
    .accordion-caret .accordion-toggle:before {
        font-size: 20px;
        vertical-align: -3px;
    }
    .accordion-caret .accordion-toggle:not(.collapsed):before {
        content: "▾";
        margin-right: 0px;
    }
    .accordion-caret .accordion-toggle.collapsed:before {
        content: "▸";
        margin-right: 0px;
    }